<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servlet_prj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>hello</display-name>
    <servlet-name>hello</servlet-name>
    <servlet-class>day0225.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>life_cycle</display-name>
    <servlet-name>life_cycle</servlet-name>
    <servlet-class>day0226.LifeCycle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>life_cycle</servlet-name>
    <url-pattern>/life_cycle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestCall</display-name>
    <servlet-name>TestCall</servlet-name>
    <servlet-class>day0226.TestCall</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestCall</servlet-name>
    <url-pattern>/TestCall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>use_request</display-name>
    <servlet-name>use_request</servlet-name>
    <servlet-class>day0227.UseHttpServletRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>use_request</servlet-name>
    <url-pattern>/test/use_request</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>param_value</display-name>
    <servlet-name>param_value</servlet-name>
    <servlet-class>day0227.UseWebParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>param_value</servlet-name>
    <url-pattern>/param_value</url-pattern>
  </servlet-mapping>
</web-app>